1. ###### *What is list comprehension in Python?* 

{  
  "question": "What is list comprehension in Python?",  
  "answer": "Question: Unexpected list comprehension behaviour in Python",  
  "sources": \[  
    {  
      "title": "Unexpected list comprehension behaviour in Python",  
      "score": 6,  
      "snippet": "Question: Unexpected list comprehension behaviour in Python"  
    },  
    {  
      "title": "Confusing \[...\] List in Python: What is it?",  
      "score": 16,  
      "snippet": "Question: Confusing \[...\] List in Python: What is it?"  
    },  
    {  
      "title": "Python List Question",  
      "score": 1,  
      "snippet": "Question: Python List Question"  
    }  
  \],  
  "latency\_ms": 32.85  
} 

###### *2\. Difference between list and tuple?* 

{  
  "question": "Difference between list and tuple?",  
  "answer": "Question: What's the difference between list and tuples?\\n\\nWhat's the difference? What are the advantages / disadvantages of tuples / lists?",  
  "sources": \[  
    {  
      "title": "What's the difference between list and tuples?",  
      "score": 555,  
      "snippet": "Question: What's the difference between list and tuples?\\n\\nWhat's the difference? What are the advantages / disadvantages of tuples / lists?"  
    },  
    {  
      "title": "Python: what is the difference between (1,2,3) and \[1,2,3\], and when should I use each?",  
      "score": 31,  
      "snippet": "Answer: From the Python FAQ : Lists and tuples, while similar in many respects, are generally used in fundamentally different ways. Tuples can be thought of as being similar to Pascal records or C structs; they're small collections of related data which may be of different types which are operated o"  
    },  
    {  
      "title": "Are tuples more efficient than lists in Python?",  
      "score": 101,  
      "snippet": "Question: Are tuples more efficient than lists in Python?\\n\\nIs there any performance difference between tuples and lists when it comes to instantiation and retrieval of elements?"  
    }  
  \],  
  "latency\_ms": 493.87  
} 

###### *3\. What is a lambda function?* 

{  
  "question": "What is a lambda function?",  
  "answer": "Question: What does \\"lambda\\" mean in Python, and what's the simplest way to use it?\\n\\nCan you give an example and other examples that show when and when not to use Lambda? My book gives me examples, but they're confusing.",  
  "sources": \[  
    {  
      "title": "What does \\"lambda\\" mean in Python, and what's the simplest way to use it?",  
      "score": 10,  
      "snippet": "Question: What does \\"lambda\\" mean in Python, and what's the simplest way to use it?\\n\\nCan you give an example and other examples that show when and when not to use Lambda? My book gives me examples, but they're confusing."  
    },  
    {  
      "title": "What is \\"lambda binding\\" in Python?",  
      "score": 9,  
      "snippet": "Question: What is \\"lambda binding\\" in Python?\\n\\nI understand what are lambda functions in Python, but I can't find what is the meaning of \\"lambda binding\\" by searching the Python docs. A link to read about it would be great. A trivial explained example would be even better. Thank you."  
    },  
    {  
      "title": "Scope of python lambda functions and their parameters",  
      "score": 54,  
      "snippet": "Question: Scope of python lambda functions and their parameters"  
    }  
  \],  
  "latency\_ms": 117.95  
} 

###### *4\. How do I read a CSV using pandas?* 

{  
  "question": "How do I read a CSV using pandas?",  
  "answer": "Question: How to read a csv file with python",  
  "sources": \[  
    {  
      "title": "How to read a csv file with python",  
      "score": 3,  
      "snippet": "Question: How to read a csv file with python"  
    },  
    {  
      "title": "Reading a UTF8 CSV file with Python",  
      "score": 50,  
      "snippet": "Question: Reading a UTF8 CSV file with Python"  
    },  
    {  
      "title": "Writing with Python's built-in .csv module",  
      "score": 7,  
      "snippet": "Question: Writing with Python's built-in .csv module"  
    }  
  \],  
  "latency\_ms": 118.48  
} 

###### *5\. Difference between append() and extend()?*

{  
  "question": "Difference between append() and extend()?",  
  "answer": "Question: append vs. extend\\n\\nWhat's the difference between the list methods append() and extend() ?\\n\\nAnswer: append : Appends object at end. x \= \[1, 2, 3\] x.append(\[4, 5\]) print (x) gives you: \[1, 2, 3, \[4, 5\]\] extend : Extends list by appending elements from the iterable. x \= \[1, 2, 3\] x.extend(\[4, 5\]) print (x) gives you: \[1, 2, 3, 4, 5\]",  
  "sources": \[  
    {  
      "title": "append vs. extend",  
      "score": 1581,  
      "snippet": "Question: append vs. extend\\n\\nWhat's the difference between the list methods append() and extend() ?\\n\\nAnswer: append : Appends object at end. x \= \[1, 2, 3\] x.append(\[4, 5\]) print (x) gives you: \[1, 2, 3, \[4, 5\]\] extend : Extends list by appending elements from the iterable. x \= \[1, 2, 3\] x.extend(\[4,"  
    },  
    {  
      "title": "In Python, what is the difference between \\".append()\\" and \\"+= \[\]\\"?",  
      "score": 88,  
      "snippet": "Question: In Python, what is the difference between \\".append()\\" and \\"+= \[\]\\"?\\n\\nWhat is the difference between: some\_list1 \= \[\] some\_list1.append(\\"something\\") and some\_list2 \= \[\] some\_list2 \+= \[\\"something\\"\]"  
    },  
    {  
      "title": "Extending base classes in Python",  
      "score": 10,  
      "snippet": "I'm trying to extend some \\"base\\" classes in Python: class xlist (list): def len(self): return len(self) def add(self, \*args): self.extend(args) return None class xint (int): def add(self, value): self \+= value return self x \= xlist(\[1,2,3\]) print x.len() \#\# \>\>\> 3 ok print x \#\# \>\>\> \[1,2,3\] ok x.add ("  
    }  
  \],  
  "latency\_ms": 120.07  
} 

###### *6\. How do Python dictionaries work?* 

{  
  "question": "How do Python dictionaries work?",  
  "answer": "Question: Dictionaries in Python",  
  "sources": \[  
    {  
      "title": "Dictionaries in Python",  
      "score": 5,  
      "snippet": "Question: Dictionaries in Python"  
    },  
    {  
      "title": "How are Python's Built In Dictionaries Implemented",  
      "score": 146,  
      "snippet": "Question: How are Python's Built In Dictionaries Implemented\\n\\nDoes anyone know how the built in dictionary type for python is implemented? My understanding is that it is some sort of hash table, but I haven't been able to find any sort of definitive answer."  
    },  
    {  
      "title": "Storing and updating lists in Python dictionaries: why does this happen?",  
      "score": 19,  
      "snippet": "Question: Storing and updating lists in Python dictionaries: why does this happen?"  
    }  
  \],  
  "latency\_ms": 155.88  
} 

###### *7.What is exception handling in Python?* 

{  
  "question": "What is exception handling in Python?",  
  "answer": "Question: Custom exception handling in Python",  
  "sources": \[  
    {  
      "title": "Custom exception handling in Python",  
      "score": 3,  
      "snippet": "Question: Custom exception handling in Python"  
    },  
    {  
      "title": "Correct way of handling exceptions in Python?",  
      "score": 25,  
      "snippet": "Question: Correct way of handling exceptions in Python?"  
    },  
    {  
      "title": "In Python, how to tell if being called by exception handling code?",  
      "score": 2,  
      "snippet": "Question: In Python, how to tell if being called by exception handling code?"  
    }  
  \],  
  "latency\_ms": 80.27  
} 

###### *8\. What are generators in Python?* 

{  
  "question": "What are generators in Python?",  
  "answer": "Question: What can you use Python generator functions for?\\n\\nI'm starting to learn Python and I've come across generator functions, those that have a yield statement in them. I want to know what types of problems that these functions are really good at solving.",  
  "sources": \[  
    {  
      "title": "What can you use Python generator functions for?",  
      "score": 157,  
      "snippet": "Question: What can you use Python generator functions for?\\n\\nI'm starting to learn Python and I've come across generator functions, those that have a yield statement in them. I want to know what types of problems that these functions are really good at solving."  
    },  
    {  
      "title": "Can I be warned when I used a generator function by accident",  
      "score": 2,  
      "snippet": "Answer: A \\"generator\\" isn't so much a language feature, as a name for functions that \\"yield.\\" Yielding is pretty much always legal. There's not really any way for Python to know that you didn't \\"mean\\" to yield from some function. This PEP http://www.python.org/dev/peps/pep-0255/ talks about generato"  
    },  
    {  
      "title": "When is not a good time to use python generators?",  
      "score": 55,  
      "snippet": "Question: When is not a good time to use python generators?"  
    }  
  \],  
  "latency\_ms": 85.87  
} 